In [1]:
import pandas as pd
import spark
from pyspark.sql import SparkSession

In [2]:
import findspark
findspark.init()

In [3]:

#conf = SparkConf().set("spark.executor.heartbeatInterval", "200000").set("spark.network.timeout", "300000")
spark = SparkSession.builder\
                    .master("local")\
                    .appName("word count")\
                    .config("spark.executor.heartbeatInterval", "3600s")\
                    .config("spark.network.timeout", "10000s")\
                    .getOrCreate()
sc = spark.sparkContext

In [3]:
#text = sc.wholeTextFiles('data/history_biology.txt')
                                                    #\,data/history_of_mathematics.txt'

In [4]:
text = sc.textFile('text.txt')

In [5]:
text.collect()

['Throw a rock and you’ll hit an organization undergoing their “digital transformation” nine times out of 10 these days. This is true for good reason. The entire world has been undergoing its own digital transformation over the past few decades as technology has advanced in leaps and bounds. Embracing the digital world is all but mandatory for organizations of all shapes and sizes.',
 '',
 'The pace of technological advancement shows no signs of slowing, and we certainly won’t be returning to simpler times barring catastrophic turns of events']

Cleaning data from separators and puntuations

In [6]:
def data_cleaning(x):
  punc='!"#$%&\'()*+,./:;“”<=>?@[\\]^_`{|}~-1234567890'
  cleaned_text = x.lower()
  for ch in punc:
    cleaned_text = cleaned_text.replace(ch, '')
  return cleaned_text

In [7]:
text_cleaned = text.map(data_cleaning)
#text_cleaned.collect()

Creating count of words in text

In [8]:
text_count = text_cleaned.flatMap(lambda x: x.split(' '))\
                .map(lambda x: (x, 1))\
                .reduceByKey(lambda x, y: x+y)

Converting RDD object to pandas dataframe

In [10]:
text_count.collect()

[('throw', 1),
 ('a', 1),
 ('rock', 1),
 ('and', 4),
 ('you’ll', 1),
 ('hit', 1),
 ('an', 1),
 ('organization', 1),
 ('undergoing', 2),
 ('their', 1),
 ('digital', 3),
 ('transformation', 2),
 ('nine', 1),
 ('times', 2),
 ('out', 1),
 ('of', 5),
 ('', 2),
 ('these', 1),
 ('days', 1),
 ('this', 1),
 ('is', 2),
 ('true', 1),
 ('for', 2),
 ('good', 1),
 ('reason', 1),
 ('the', 4),
 ('entire', 1),
 ('world', 2),
 ('has', 2),
 ('been', 1),
 ('its', 1),
 ('own', 1),
 ('over', 1),
 ('past', 1),
 ('few', 1),
 ('decades', 1),
 ('as', 1),
 ('technology', 1),
 ('advanced', 1),
 ('in', 1),
 ('leaps', 1),
 ('bounds', 1),
 ('embracing', 1),
 ('all', 2),
 ('but', 1),
 ('mandatory', 1),
 ('organizations', 1),
 ('shapes', 1),
 ('sizes', 1),
 ('pace', 1),
 ('technological', 1),
 ('advancement', 1),
 ('shows', 1),
 ('no', 1),
 ('signs', 1),
 ('slowing', 1),
 ('we', 1),
 ('certainly', 1),
 ('won’t', 1),
 ('be', 1),
 ('returning', 1),
 ('to', 1),
 ('simpler', 1),
 ('barring', 1),
 ('catastrophic', 1),
 ('turns', 1),
 ('events', 1)]

In [9]:
df = text_count.toDF()
df1 = df.toPandas()

Rename columns and find top 10 most popular words

In [11]:
df1 = df1.rename(columns={'_1':'word', '_2':'count'})
df1.sort_values('count', ascending=False).head(10)

          word  count
15          of      5
25         the      4
3          and      4
10     digital      3
22         for      2
43         all      2
20          is      2
27       world      2
8   undergoing      2
28         has      2